h2 {
  font-size: 60px;
  letter-spacing: -1px;
  color: #3e4347;
  font-weight: bold;
}
h3 {
  font-size: 34px;
  color: #3e4347;
  font-family: "Montserrat";
  font-weight: bold;
}
h4 {
  font-size: 22px;
  color: #3e4347;
  font-family: "Montserrat";
  font-weight: bold;
  margin-bottom: 20px;
}

.separator-left {
  border-left: 1px solid #d0cece;
  border-radius: 2px;
  margin-left: 15px;
  padding-left: 15px;
}
.separator-right {
  border-right: 1px solid #d0cece;
  border-radius: 2px;
  margin-right: 15px;
  padding-right: 15px;
}
body {
  background-color: #eaeaea;
  font-family: 'Montserrat', sans-serif;
  color: #3e4347;
}
.section-top {
  padding-top: 30px;
}
.img-logo {
  width: 90px;
}
.contact {
  text-align: right;
  color: #3e4347;
  position: absolute;
  z-index: 99;
  right: 0;
  display: flex;
  align-items: center;
}
.contact .text {
  display: inline-block;
  font-size: 13px;
}
.contact .text .small {
  display: block;
}

.section-investment {
  padding-top: 30px;
}
/* .section-investment h2 {
  font-size: 60px;
  letter-spacing: -1px;
  line-height: 60px;
  color: #3e4347;
  font-weight: bold;
} */
.box-investment-info {
  font-weight: 500;
  font-size: 16px;
  color: #3e4347;
  padding: 15px 0;
}
.box-investment-info span {
  display: inline-block;
}
.box-investment-info .item {
  display: inline-block;
  width: 30%;
}
.box-investment-info .item.separator {
  width: 40%;
  border-left: 1px solid #d0cece;
  border-right: 1px solid #d0cece;
  margin-right: 20px;
  padding: 0 20px;
}
.investment-carousel {
  position: absolute;
  top: -150px;
}
.investment-carousel .carousel-indicators li {
    width: 11px;
    height: 11px;
    border-radius: 100%;
    background-color: #949494;
}
.investment-carousel .carousel-indicators .active {
  background-color: #fd9c3a;
}
.investment-carousel .carousel-item img {
  width: 100%;
  margin-bottom: 20px;
}

.section-diferentials {
  padding-top: 30px;
}
.box-diferential {
  padding: 20px 0;
}
.box-diferential .icon {
  height: 40px;
}
/* .box-diferential h4 {
  font-size: 22px;
  line-height: 40px;
  color: #3e4347;
  font-family: "Montserrat";
  font-weight: bold;
  margin-bottom: 20px;
} */
.box-diferential p {
  font-size: 16px;
  line-height: 40px;
  color: #3e4347;
  font-family: "Montserrat";
  margin: -15px 0;
}

/* .contact-form h4 {
  font-size: 23px;
letter-spacing: -1px;
line-height: 34px;
color: #f9b03a;
font-family: "Montserrat";
font-weight: bold;
text-align: center;
} */
.contact-form p {
  font-size: 15px;
line-height: 34px;
color: #3e4347;
font-family: "Montserrat";
text-align: center;
}
.contact-form .form-control {
  border-radius: 10px;
  margin: 10px 0;
  height: 45px;
  border: none;
  outline: none;
}
.contact-form input,
.contact-form textarea {
  padding: 10px 22px;
  font-weight: bold;
  color: #000;
}
.contact-form input::placeholder,
.contact-form select,
.contact-form .textarea,
.contact-form .textarea::placeholder {
  font-weight: bold;
  color: #000;
}
.contact-form .c-select {
  background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAACXBIW…+EJOEhkQB4JIFU4ZNzNSlOfa7IiqIoiqIoiqIoiqIoIfkLojJaf79ipB0AAAAASUVORK5CYII=) no-repeat right 0.75rem center;
  background-size: 18px;
  display: inline-block;
  max-width: 100%;
  padding-right: .75rem \9;
  vertical-align: middle;
  background-image: none \9;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 0 22px;
}
.contact-form .textarea {
  margin-top: 10px;
    margin-bottom: 10px;
    height: 100px;
}
.contact-form .btn-submit {
  border-radius: 64px;
  width: 185px;
  height: 50px;
  background-color: #ffa500;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 10px 0 0 17px;
}
.invert-orange {
  font-size: 20px;
line-height: 60px;
color: #eaeaea;
font-family: "Montserrat";
font-weight: bold;
background-color: #fd9c3a;
padding: 0 5px;
}

.text-orange {
 color: #ffa500; 
}



#map {
  height: 500px;
  max-width: 100%;
}

.footer {
  height: 80px;
  background-color: #3e4347;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 12px;
}

.social i {
  font-size: 16px;
  margin: 0 5px;
  color: #fff;
}